.MuiToolbar-root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem; 
    margin-top: 2rem;
}

.header__user-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.header__username {
    color: #2E3440;
    font-size: 11px;    
}

.header .MuiTypography-root {
   -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
}

#registerLink {
    color: #0a66c2;    
  } 

@media (max-width: 680px) {
    .MuiToolbar-root {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
    }
    .header__user-container {
        margin-top: 1rem;
        flex-direction: column;
        align-items: center;
    }
    
}




