.date-search-container {
    margin-top: 4rem;
}

.tabs-form-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

@media (max-width: 680px) {
    .tabs-form-container {
        margin-top: 1rem;
        gap: 1rem;
    }
}