.MuiTabs-flexContainer {
    display: flex;
    flex-direction: row; 
    gap: 0.5rem;
    margin-top: 3rem;
}

.MuiButtonBase-root.MuiTab-root {
    border: 0.5px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 4px;
   }

@media (max-width: 680px) {
 .MuiTabs-flexContainer {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem; 
    }
}











