.MuiContainer-root.home-container {
    margin-top: 5rem;
    color: #565656;
    display: flex;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 1rem;
    border-radius: 5px;
    justify-content: center;
    align-items: flex-end;
    max-width: none;
  }
 
 .MuiDialog-paper.dialog-paper {
   background-color: #D8DEE9;
   color: #333;
   padding: 20px;  
   border-radius: 10px;
   line-height: 1.6;  
   max-width: 25rem;
 }

 .content-wrapper {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-top: 1rem;
}

.dialog-title {
  color: #0a66c2;
  text-align: center;
}

.dialog-content {
  color: rgb(52, 47, 47);
}

.dialog-list {
  padding-left: 20px;
}

.home-container p {
 margin-left: 4rem;  
}

.home-container h2 {
  width: min-content; 
}
