@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  /* background-image: url('./assets/towfiqu-barbhuiya-jpqyfK7GB4w-unsplash (1).jpg'); */
}

body::after {
  content: '';
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(223, 222, 222, 0) 0%, 
    rgba(36, 36, 36, 0.35) 100%
  );
  pointer-events: none; 
}