.calculator-container {
    display: flex;
    align-items: center;
    margin: 1rem;
    gap: 1.2rem;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .textfields-calculator {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  
  .inputs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  @media (max-width: 680px) {
    .inputs-container {
      flex-direction: column; 
      align-items: stretch; 
    }

    .calculator-container {
        align-items: stretch;
      }
          
    .textfields-calculator {
        flex-direction: column;
        align-items: stretch;
        margin: 1rem;
        gap: 1.2rem;
        margin: 0;
      }
  }