.textFields-container {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

.buttons-container {
    display: flex;
    margin-top: 2rem;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

@media (max-width: 680px) {
    .textFields-container {
        flex-direction: row;
        margin-top: 0;
    }

    .buttons-container {
    margin-bottom: 2rem;
    }

    .textFields-container .MuiTextField-root {
        margin-top: 1rem;
    }
}