.date-inputs-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.MuiOutlinedInput-root {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 8rem;
}

@media (max-width: 680px) {
    .date-inputs-container {
        flex-direction: column;
        align-items: stretch;
        margin: 1rem;
        gap: 1.2rem;
    }

    .MuiOutlinedInput-root {
        width: auto;
    }
}